//Include style
include block_html/_style.jade
body
	//Include header
	include block_html/elements/_header.jade
	include block_html/elements/_const.jade

	//Partner
	// Add class  .head-partner__logos--solar + svg icon
	//head-partner
	.head-partner
		.container
			.head-partner__baner.m-cont-coner
				.m-coner-el.m-coner-one
				.m-coner-el.m-coner-two
				.m-coner-el.m-coner-three
				.m-coner-el.m-coner-four

				.head-partner__title Декларация о доходах за 15 минут, не выходя из дома
				.head-partner__title-sub Партнёрская программа
				.head-partner__logos
					.head-partner__logos-el.head-partner__logos--solar
						img(src="img/m-solar-logo.svg", alt="")
					.head-partner__logos-el
						img(src="img/m-logo-nalogia.png", alt="")
				a(href="#").head-partner__btn Попробуйте прямо сейчас!
	

	//section-solution
	.container-fluid.m-section.m-section-solution
		.container
			.partner-solution__wraper
				.partner-solution
					- each item in partnerSolution
						.partner-solution__el
							.partner-solution__icon
								.m-cont-coner
									.m-coner-el.m-coner-one
									.m-coner-el.m-coner-two
									.m-coner-el.m-coner-three
									.m-coner-el.m-coner-four
									span ?
							.partner-solution__text  #{item.name}
					.partner-diveider
					a(href="#").partner-solution__btn У нас есть для вас простое решение!
	
	//section-solution-end

	//section-partner-service
	.container-fluid.m-section.m-section-service
		.container
			.section-parnter-title.parnter-service__main-title Партнёрский сервис Налогия для подачи деклараций
			.row
				- each item in partnerService
					.col-md-6.col-sm-6.col-xs-12
						.partner-service__el
							.partner-service__icon
								i(class="m-icon icon#{item.icon}")
							.partner-service__info
								.partner-service__title #{item.title}
								.partner-service__text #{item.text}

	//section-partner-service-end

	//section-partner-work
	.container-fluid.m-section.m-section-partner-work
		.container
			.section-parnter-title Как это работает

			.partner-work__el
				.partner-work__icon
					.m-cont-coner
						.m-coner-el.m-coner-one
						.m-coner-el.m-coner-two
						.m-coner-el.m-coner-three
						.m-coner-el.m-coner-four
						span 1
				.partner-work__info
					.partner-work__el-title Заполните онлайн-анкету
					.partner-work__text Вам не нужно самостоятельно заполнять сложную декларацию 3-НДФЛ. Вместо этого вы заполняете простую онлайн-анкету и вносите некоторые данные о себе.
		
			.partner-work__el
				.partner-work__icon
					.m-cont-coner
						.m-coner-el.m-coner-one
						.m-coner-el.m-coner-two
						.m-coner-el.m-coner-three
						.m-coner-el.m-coner-four
						span 2
				.partner-work__info
					.partner-work__el-title Получите декларацию
					.partner-work__text Интерфейс нашей программы автоматически формирует декларацию и показывает, какую сумму налога нужно заплатить
					
			.partner-work__el
				.partner-work__icon
					.m-cont-coner
						.m-coner-el.m-coner-one
						.m-coner-el.m-coner-two
						.m-coner-el.m-coner-three
						.m-coner-el.m-coner-four
						span 3
				.partner-work__info
					.partner-work__el-title Подайте декларацию
					.partner-work__text Вы можете скачать декларацию в виде pdf-документы и самостоятельно подать её в инспекцию
					.partner-work__el-title или
					.partner-work__text если вы хотите подать декларацию онлайн, без посещения инспекции, вам нужно будет встретиться с курьером сервиса Налогия. Он приедет в удобное для вас время и проведёт идентификацию личности. Это нужно для того, чтобы вам помогли получить электронную подпись, нужную для электронной подачи декларации
					
			.partner-work__el
				.partner-work__icon
					.m-cont-coner
						.m-coner-el.m-coner-one
						.m-coner-el.m-coner-two
						.m-coner-el.m-coner-three
						.m-coner-el.m-coner-four
						span 4
				.partner-work__info
					.partner-work__el-title Заплатите налог
					.partner-work__text После того, как вы задекларируете доход и программа рассчитает вам точную сумму налога, вы сможете уплатить его обычным способом

	//section-partner-price
	.container-fluid.m-section.m-section-partner-price
		.container
			.section-parnter-title Что мы предлагаем
			.m-partner-price
				.m-partner-price__wraper
					- each item in partnerPrice
						.m-partner-price__el
							a(href="#").m-partner-price__icon
								i(class="m-icon icon#{item.icon}")
								.m-partner-price__btn 549 руб.
							.m-partner-price__info
								.m-partner-price__title #{item.title}
								.m-partner-price__text #{item.text}

					.m-partner-price__sale.m-cont-coner
						.m-coner-el.m-coner-one
						.m-coner-el.m-coner-two
						.m-coner-el.m-coner-three
						.m-coner-el.m-coner-four

						.m-partner-price__sale-title Возможно, Декларация "под ключ" для вас бесплатна!
						.m-partner-price__sale-sub-title Свяжитесь с техподдержкой, чтобы узнать детали

	//get-partner
	.m-get-partner
		.container
			.m-get-partner__baner
				.m-get-partner__title Попробуйте прямо сейчас
				.m-get-partner__title-sub Ознакомиться с сервисом можно <br> бесплатно – оцените удобство!
				a(href="#").head-partner__btn Попробуйте прямо сейчас!

	//section-partner-question
	.container-fluid.m-section.m-section-partner-question
		.container
			.section-parnter-title.section-parnter-title--blue Остались вопросы?
			.m-section-partner-sub-title Звоните нам – консультируем  бесплатно!


	//Partner-end


//Include footer
include ./block_html/_script.jade

